.root {
  padding: 10px;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.box > * {
  color: grey;
  font-size: 0.8rem;
}

.box > span {
  margin-right: 10px;
}
