@import '../static/fonts/font.css';

* {
  font-family: iranSans, Yekan !important;
}
body {
  margin: 0px !important;
  padding: 0px;
  overflow: hidden;
}

::placeholder {
  font-family: iranSans, Yekan !important;
}


