.root {
  background-color: #fff;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.box {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 10px 0;
  border-bottom: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  width: 350px;
}
.info {
  display: flex;
  flex-direction: column;
  color: grey;
  font-size: 0.9rem;
  margin-right: 10px;
}
