.root {
  padding: 8px;
  display: flex;
  align-items: center;
  width: 350px;
  margin: auto;
  justify-content: space-between;
  border-top: 1px solid #eeeeee;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info > span {
  color: grey;
}

.rate {
  display: flex;
  align-items: center;
}
.rate > span {
  font-size: 0.8rem;
}

.imageBox {
  width: 100px;
  height: 100px;
}
.imageBox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
