.root {
  margin-top: 10px;
}
.routeBox {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  font-size: 0.8rem;
  padding: 20px 0;
  
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
}
.title > strong {
  margin-right: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.btn {
  width: 100%;
  border-bottom: 1px solid #eeeeee !important;
}
